<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="runtest" verbose="1" >

    <listeners>


        <listener class-name="utils.LogUtil" />


    </listeners>

    <!--Chrome tests below-->

    <test name="Chrome_LandingPage" preserve-order="true">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="scenario.BaseTest" />
        </classes>
    </test>


</suite>